[KRA]
pki_security_domain_https_port={{ pki_security_domain_https_port }}
pki_security_domain_password={{ pki_security_domain_password }}
pki_security_domain_user={{ pki_security_domain_user }}
pki_enable_proxy={{ pki_enable_proxy }}
pki_restart_configured_instance={{ pki_restart_configured_instance }}
pki_backup_keys={{ pki_backup_keys }}
pki_backup_password={{ pki_backup_password }}
pki_client_database_dir={{ pki_client_database_dir }}
pki_client_database_password={{ pki_client_database_password }}
pki_client_database_purge={{ pki_client_database_purge }}
pki_client_pkcs12_password={{ pki_client_pkcs12_password }}
pki_admin_name={{ pki_admin_name }}
pki_admin_uid={{ pki_admin_uid }}
pki_admin_email={{ pki_admin_email }}
pki_admin_password={{ pki_admin_password }}
pki_admin_nickname={{ pki_admin_nickname }}
pki_admin_subject_dn={{ pki_admin_subject_dn }}
pki_import_admin_cert={{ pki_import_admin_cert }}
pki_admin_cert_file={{ pki_admin_cert_file }}
pki_client_admin_cert_p12={{ pki_client_admin_cert_p12 }}
pki_ds_ldap_port={{ pki_ds_ldap_port }}
pki_ds_password={{ pki_ds_password }}
pki_ds_base_dn={{ pki_ds_base_dn }}
pki_ds_database={{ pki_ds_database }}
pki_storage_subject_dn={{ pki_storage_subject_dn }}
pki_transport_subject_dn={{ pki_transport_subject_dn }}
pki_subsystem_subject_dn={{ pki_subsystem_subject_dn }}
pki_ssl_server_subject_dn={{ pki_ssl_server_subject_dn }}
pki_audit_signing_subject_dn={{ pki_audit_signing_subject_dn }}
pki_subsystem_nickname={{ pki_subsystem_nickname }}
pki_ssl_server_nickname={{ pki_ssl_server_nickname }}
pki_audit_signing_nickname={{ pki_audit_signing_nickname }}
pki_storage_nickname={{ pki_storage_nickname }}
pki_transport_nickname={{ pki_transport_nickname }}
